@media (max-width: 575.98px) {
    .logo1 {
        width: 50px !important;
    }

    .logo2 {
        width: 150px !important;
    }
}

@media (max-width: 991.98px) {
    .d-flex-responsive {
        flex-direction: column !important;
    }

    .d-flex-responsiveness {
        flex-direction: column !important;
        text-align: center;
    }

    .line {
        display: none;
    }


    .br-50 {
        border-radius: 50%;
        width: 50% !important;
    }

    .card-margin {
        margin-right: 0 !important;
    }
}

.card-margin {
    margin-right: 5%;
}

.line {
    font-size: 25px;
}

.nav-link-color {
    color: #EB7C46 !important;
}

.active {
    color: #000 !important;
}

.h5-color {
    color: #8DCBE2;
}

.head-color {
    color: #5EA57B;
}

.pcra-list {
    list-style-type: none;
    padding-left: 0 !important;
}

.NSIC {
    padding-left: 1.5rem !important;
}

.ul-color>li::marker {
    color: #5EA57B !important;
    font-size: xx-large;
}

.bg-color-genral {
    background-color: #F8F8F8;
}

.border-li {
    border: 1px solid #D0D0D0;
    border-bottom: 0;
}

.border-right-li {
    border-right: 1px solid #D0D0D0 !important;
}

.border-btn {
    border-radius: 0 !important;
    color: #000 !important;
    border: 1px solid #D0D0D0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #E74C2B !important;
    color: #fff !important;
}

.nav-pills-css .nav-link.active,
.nav-pills-css .show>.nav-link {
    background-color: #fff !important;
    color: #E74C2B !important;
}

.border-content {
    border: 1px solid #D0D0D0;
    padding: 2%;
    width: 70%;
    margin-top: 0;
}

.donate-btn-clr {
    background-color: #E74C2B !important;
    color: #fff !important;
    border: none !important;
    border-radius: 0 !important;
}

.text-right {
    text-align: end;
}

.donate-btn-clr-1 {
    border-radius: 0 !important;
}

.style-type-none {
    list-style-type: none;
}

.text-area {
    resize: none;
}

.br-50 {
    border-radius: 50%;
}

.accordion-button::after {
    background-image: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: none !important;
}

.accordion-flush .accordion-item:first-child {
    border-bottom: none !important;
}

.accordion-item:not(:first-of-type) {
    border-bottom: none !important;
}

.accordion-button:not(.collapsed) {
    color: #000 !important;
}

.span-css {
    font-size: xxx-large;
    font-weight: 100;
    color: #EA7A46;
}


.donate-us-1st-head {
    font-size: 4rem;
    font-weight: 100;
}

.donate-us-2nd-head {
    font-size: 5rem;
    margin-left: 4%;
    font-weight: 100;
}

.genral-contribution-css {
    font-weight: bold;
    font-size: larger;
}

.card-css {
    border: none !important;
    margin: 2rem !important;
}

.card-css:hover .card-footers p {
    color: #fff !important;

}

.card-css:hover .card-css-hover {
    color: #fff !important;
}

.card-css:hover .bi-chevron-right {
    display: none;
}

.bi-chevron-double-right {
    display: none;
}

.card-css:hover .bi-chevron-double-right {
    display: inline-block;
}

.card-footer-css {
    border-top: dashed 2px !important;
}

.card-footers p {
    color: #EA7A46;
}

.card-footers a {
    text-decoration: none;
    color: #000;
}

.card-css:hover {
    background-color: #EB7C46 !important;
    color: #fff !important;
    box-shadow: 5px 5px !important;
}

.card-img-footer {
    background-color: #818080;
}

.address-bar {
    background-color: #818080;
    border: none;
}

.footer-li {
    list-style-type: none;
    padding-left: 0;
}

.footer-li>li>a {
    text-decoration: none;
    color: #fff;
}

.social-links {
    display: inline-flex !important;
    border-radius: 0 !important;
    border: none !important;
    flex-direction: row !important;
    position: absolute;
    left: 50%;
    top: -30px;
}


.social-links>i {
    font-size: xxx-large;
}

.mt-5rem {
    margin-top: 5rem;
}

.fb {
    color: #4267B2;
}

.twitter {
    color: #1DA1F2;
}

.insta {
    color: #833AB4;
}

.youtube {
    color: #FF0000;
}

.linkedin {
    color: #0077b5;
}


.nav-bg-video {
    background-color: #818080;
    justify-content: center !important;
}

.nav-bg-video>li {
    padding: 0.5%;
}

.btn-css-video {
    border-radius: 0 !important;
    border: none !important;
    font-size: xx-large !important;
}

.iframe-w-h {
    width: 100%;
    height: 75vh;
}

.card-right-arrow {
    width: 8%;
    border: none;
    position: absolute;
    bottom: 0;
    left: 95%;
    border-radius: 0;
    color: #fff;
    background-color: #EA7A46;
    padding: 5px;
}


.bi-chevron-card-right::before {
    margin-left: 10px;
}

.slick-prev:before {
    content: '<';
}

.slick-next:before,
.slick-prev:before {
    background-size: 100%;
    background-repeat: no-repeat;
}

.slick-next:before {
    content: '>';
}

.advisor-slider>.slick-prev {
    z-index: 1;
    top: 60%;
}

.advisor-slider>.slick-next {
    z-index: 1;
    top: 35%;
    right: 95% !important;
}

.advisor-slider1>.slick-prev {
    z-index: 1;
    top: 60%;
}

.advisor-slider1>.slick-next {
    z-index: 1;
    top: 35%;
    right: 95% !important;
}

.advisor-slider2>.slick-prev {
    z-index: 1;
    top: 60%;
}

.advisor-slider2>.slick-next {
    z-index: 1;
    top: 35%;
    right: 95% !important;
}


.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: none;
    background-color: #818080;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;

}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: xx-large;
    line-height: 1;
    opacity: 1;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

.slick-next {
    right: 0px !important;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: #fff;
    outline: none;
    background-color: #818080;
}

.video-card {
    position: absolute;
    background: transparent;
    border: none;
    left: 50%;
    top: 80%;
    background-color: #fff;
    opacity: 0.5;
}

.video-card>p {
    font-weight: 800;
}

.video-card1 {
    position: absolute;
    background: transparent;
    border: none;
    left: 40%;
    top: 60%;
    background-color: #fff;
    opacity: 0.5;
}

.list-style-none-video {
    list-style-type: none;
}

.charity-img {
    margin-left: 10%;
    height: 85vh !important;
}

.advisor-card-arrow::before {
    content: "\f285";
    margin-top: 18%;
    margin-left: 23%;
    font-size: xx-large;
    color: #fff;
}

.advisor-card-arrow-card {
    width: 50px;
    position: absolute;
    border-radius: 100%;
    height: 50px;
    top: 20px;
    left: -25px;
    background-color: #818080;
    cursor: pointer;
}

.advisor-card-arrow-card-left {
    width: 50px;
    position: absolute;
    border-radius: 100%;
    height: 50px;
    top: 85px;
    left: -25px;
    background-color: #818080;
    cursor: pointer;
}

.advisor-card-left::before {
    margin-top: 16%;
    margin-left: 15%;
    font-size: xx-large;
    color: #fff;
}

.donate-input {
    width: 170px !important;
}


.right-lower-tri {
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    overflow: hidden;
    position: absolute;
    left: 93.3%;
    top: 68%;
    z-index: -1;
    border: none;
}

.right-lower-tri:after {
    content: "";
    display: block;
    width: 0;    
    height: 0;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #000;
}

.social-card-tri{
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    overflow: hidden;
    position: absolute;
    left: 100%;
    top: -18%;
    z-index: -1;
    border: none;
} 

.social-card-tri:after {
    content: "";
    display: block;
    width: 0;    
    height: 0;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #818080;    
}
.triangle-down-right {
    width: 10%;
    height: 0;
    padding-top: 10%;
    overflow: hidden;
    position: absolute;
    left:-47px;
    top: -18%;
    z-index: -1;
    border: none;
}
.triangle-down-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;    
    border-top: 500px solid transparent;
    border-right: 500px solid #818080;
}


.triangle-down-trustee{
    width: 10%;
    height: 0;
    padding-top: 10%;
    overflow: hidden;
    position: absolute;
    left: -76px;
    top: -72%;
    z-index: 1;
    border: none;
    background: transparent;
    border: none;
    border-radius: 0;
}
.triangle-down-trustee:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top: -498px;
    margin-left: 49px;
    border-top: 500px solid transparent;
    border-right: 500px solid #818080;
}

.triangle-down-trustee1:after{
    border-right: 500px solid #000;
}

.trustee-tab-card{
    left: 15%;
    border: none;
    top: -25px;
    width: 68%;
}


.trustee-tab-card1{
    left: 15%;
    border: none;
    top: 49px;
    width: 68%;
    z-index: 1;
}

.triangle-down-trustee-right{
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    overflow: hidden;
    position: absolute;
    left: 100%;
    top: -73%;
    z-index:-1;
    border: none;
    background: transparent;
    border-radius: 0;
} 

.triangle-down-trustee-right:after{
    content: "";
    display: block;
    width: 0;    
    height: 0;
    border-right: 500px solid transparent;    
    border-bottom: 500px solid #000;    
    margin-top: 50px;
}

.height-20vh{
    height:20vh !important;
}